:root {

  --color-black: #303030;
  --color-dark-gray: #32373e;
  --color-gray: #697a90;
  --color-light-gray: #b4bcc7;
  --color-very-light-gray: #e7ebed;
  --color-white: #fbfbfb;
  --color-accent: #F67258;
}