@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

/* Non-mobile */
@media (min-width: 768px) {
  
  .root {
    display: flex;
  }

  .wrapper {
    margin-left: 200px;
    padding: 75px 75px 75px 50px;
    max-width: 700px;
  
    @nest {
      margin-bottom: 200px;
    }
  }
}

/* Mobile */
@media (max-width: 767px) {
  .wrapper {
    padding: 10px;
    max-width: 700px;
  
    @nest {
      margin-bottom: 200px;
    }
  }
}


.content {
  background: var(--color-white);
  min-height: calc(100% - 73px - 120px);

  @media (--media-min-small) {
    min-height: calc(100% - 88px - 150px);
  }
}

.footer {
  border-top: 1px solid var(--color-very-light-gray);

  @nest & a {
    color: inherit;
    text-decoration: none;

    @media (hover: hover) {
      @nest &:hover {
        color: var(--color-accent);
      }
    }
  }
}

.footerWrapper {
  box-sizing: border-box;
  max-width: 960px;
  padding: 4.5em 1.5em 1.5em;
  margin: 0 auto;

  @media (--media-min-small) {
    padding: 6em 2em 2em;
  }
}