@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,700,900&display=swap');

:root {
  --unit: 16;

  /* Font family */
  --font-family-sans: 'Work Sans', sans-serif;

  /* Font sizes */
  --font-small-size: calc(14 / var(--unit) * 1rem);
  --font-small-line-height: calc(18 / 14);

  --font-base-size: calc(var(--unit) / 16 * 100%);
  --font-base-line-height: calc(22 / var(--unit));

  --font-h1-size: calc(72 / var(--unit) * 1rem);
  --font-h2-size: calc(32 / var(--unit) * 1rem);
  --font-h3-size: calc(24 / var(--unit) * 1rem);
  --font-h4-size: calc(20 / var(--unit) * 1rem);
  --font-h5-size: calc(18 / var(--unit) * 1rem);
  --font-h6-size: calc(14 / var(--unit) * 1rem);
  --font-p-size: calc(16 / var(--unit) * 1rem);
  
  --font-h1-line-height: calc(72 / var(--unit) * 1.2rem);
  --font-h2-line-height: calc(32 / var(--unit) * 1.2rem);
  --font-h3-line-height: calc(24 / var(--unit) * 1.5rem);
  --font-h4-line-height: calc(20 / var(--unit) * 1.5rem);
  --font-h5-line-height: calc(18 / var(--unit) * 1.5rem);
  --font-h6-line-height: calc(14 / var(--unit) * 1.5rem);
  --font-p-line-height: calc(16 / var(--unit) * 1.5rem);

  --red: #F67258; 
  --blue: #4370B1;
  --green: #3EAE42;
  --yellow: #FDCE50;
}

:global(.design) {
  background-color: var(--red);
}

:global(.code) {
  background-color: var(--blue);
}

:global(.creative) {
  background-color: var(--green);
}

html {
  font-family: var(--font-family-sans);
  font-size: 14px;
  line-height: 16px;

  @media (--media-min-small) {
    font-size: 12px;
    line-height: 14px;
  }

  @media (--media-min-medium) {
    font-size: var(--font-large-size);
    line-height: var(--font-large-line-height);
  }
}


/*
 * Statically sized elements
 */

h1 {
  font-size: var(--font-h1-size);
  line-height: var(--font-h1-line-height);
  font-weight: 900;
  margin: 0;
}

h2 {
  font-size: var(--font-h2-size);
  line-height: var(--font-h2-line-height);
  font-weight: 700;
  letter-spacing: -0.8px;
  margin-bottom: 5px;
}

h3 {
  font-size: var(--font-h3-size);
  line-height: var(--font-h3-line-height);
  font-weight: 300;
  margin: 0
}

h4 {
  font-size: var(--font-h4-size);
  line-height: var(--font-h4-line-height);
}

h5 {
  font-size: var(--font-h5-size);
  line-height: var(--font-h5-line-height);
}

h6 {
  font-size: var(--font-h6-size);
  line-height: var(--font-h6-line-height);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.34px;
  margin: 0px 0px 30px 0px;
}

p {
  font-size: var(--font-p-size);
  line-height: var(--font-p-line-height);
  margin-top: 0;
}

a {
  color: var(--black);
  text-decoration: none;
  padding: 0;
}

/*
 * Responsively sized elements
 */

.blockQuote {
  background: #eee;
}





